@font-face {
    font-family: 'nunito';
    src: url('fonts/nunito-extrabold-webfont.woff2') format('woff2'),
         url('fonts/nunito-extrabold-webfont.woff') format('woff'),
         url('fonts/nunito-extrabold-webfont.ttf') format('truetype'),
         url('fonts/nunito-extrabold-webfont.svg#nunitoextrabold') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'nunitolight';
    src: url('fonts/nunito-light-webfont.woff2') format('woff2'),
         url('fonts/nunito-light-webfont.woff') format('woff'),
         url('fonts/nunito-light-webfont.ttf') format('truetype'),
         url('fonts/nunito-light-webfont.svg#nunitolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunito';
    src: url('fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('fonts/nunito-regular-webfont.woff') format('woff'),
         url('fonts/nunito-regular-webfont.ttf') format('truetype'),
         url('fonts/nunito-regular-webfont.svg#nunitoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunito';
    src: url('fonts/nunito-semibold-webfont.woff2') format('woff2'),
         url('fonts/nunito-semibold-webfont.woff') format('woff'),
         url('fonts/nunito-semibold-webfont.ttf') format('truetype'),
         url('fonts/nunito-semibold-webfont.svg#nunitosemibold') format('svg');
    font-weight: 700;
    font-style: normal;
}