/* ********** */
/*  GENERALES  */
/* *********** */
a,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: white;
}
p {
  color: #330066;
}
/* background general page */
/* hero */
.background1,
.background2,
.background3{
  background-position-y: 100% , 200%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.background1{
  background-image: url(/images/backDesktop2.png),url(/images/backDesktop1.png);
  /* background-attachment: fixed , scroll; */
}
.background2{
  background-image: url(/images/backDesktop4.png),url(/images/backDesktop3.png);
  background-size: 100% 89% ,20% 23%;
  background-position-y: 0 , 5%;
  background-position-x: 100%;
}
.background3{
  background-image: url(/images/backDesktop5.png),url(/images/backDesktop6.png);
  background-size: 100% 100% , 40% 100%;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
  padding: 1rem;
}
header img {
  width: 100%;
}
/* menu desktop */
#mainMenu {
  flex-basis: 70%;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
}
#mainMenu a{
  position: relative;
}
.linkSuscribete {
  border-radius: 77px 77px 77px 77px;
  -moz-border-radius: 77px 77px 77px 77px;
  -webkit-border-radius: 77px 77px 77px 77px;
  border: 1px solid white;
  display: inline-block;
  height: 100%;
  padding: 1rem;
}
.linkSuscribete a {
  display: flex;
  align-items: center;
  line-height: 1.2;
}
/* menu responsive*/
.responsiveSocialMedia{
  justify-content: space-between;
}
.hamburguerBox{
  z-index: 9;
}
/* hero */
.hero {
  /* background-color: #330066; */
  width: 100%;
  height: auto;
}
.bannerHero {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  margin: 3rem auto;
  align-items: center;
}
.bannerHero .info {
  flex-basis: 55%;
}
.bannerHero .info h1:first-child {
  font-size: 3rem;
}
.bannerHero .info h1:nth-child(2) {
  font-size: 4.5rem;
}
.bannerHero .info h1:nth-child(3) {
  font-size: 3rem;
}
.bannerHero .img {
  flex-basis: 40%;
  display: flex;
  align-items: center;
}
.bannerHero .img img {
  width: 100%;
}
.bannerHero .start,
.conoce {
  background-color: #ff0000;
}
.item .issu{
  font-weight: bold;
}
.item h3{
  font-size: 1.5rem;
}
.item:first-child .buttonChapter a{
  background-color: #009966;
}
.item:first-child .issu,
.item:first-child h3{
  color:  #009966;
}

.item:nth-child(2) .buttonChapter a{
background-color: #ff6501;
}
.item:nth-child(2) h3,
.item:nth-child(2) .issu{
  color:  #ff6501;
}
.item:last-child .buttonChapter a{
  background-color: #330066;
  }
.item:last-child h3,
.item:last-child .issu{
    color: #330066;
  }
/* para los encabezados de las secciones */
.headTitle {
  text-align: center;
}
.headTitle h2 {
  padding: 2rem 0 1.5rem;
  font-size: 3rem;
  font-weight: bold;
}
.headTitle p {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0;
}
/* para el chevron */
.chevron{
  margin-top: 3rem;
}
/* elige un personaje */
#chooseCharacter {
}

/* Conocelos */
#knowMe {
  padding: 5rem 0;
  align-items: flex-end;
  justify-content: space-between;
}
#knowMe .item:nth-child(2) {
  padding: 0 3rem;
}

#knowMe .item,
#chapters .item {
  flex-basis: calc((100% / 3) - 6rem);
  text-align: center;
  padding-bottom: 2rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#chapters .issu{
  color: white;
}
#knowMe .item img {
  width: 50%;
  height: auto;
  position: relative;
}
#knowMe .item .conoce {
  display: inline-block;
}
.box-item a{
  margin-bottom: 1rem;
}
/* capitulos */
#chapters {
  padding: 5rem 0;
  /* background-color: #ff0000; */
}
#chapters .item:nth-child(4),
#chapters .item:nth-child(5){
 flex-basis: 49%;
 max-width: calc((100% / 3) - 6rem);
 margin: 0 auto;
}
.wrapperChapters {
  padding: 3rem 0;
  justify-content: space-between;
}
.wrapperChapters p{
  color: white;
}
#chapters .item {
  /* padding: 2rem 2rem; */
  margin-bottom: 1rem;
}
#chapters .item h4 {
  font-weight: bold;
  font-size: 1.5rem;
}
#chapters .item img {
  width: auto;
  height: 250px;
}
.buttonChapter .btnRadius{
  margin: 0 auto 1rem;

} 
#chapters .btnRadius {
  background-color: #330066;
  display: inline-block;
}
.buttonChapter{
  width: 100%;
  justify-content: space-between;
}
/* projectos */
#projects {
  padding: 5rem 0;
  align-items: center;
}
#projects .info > *,
#projects .info span{
  color: #330066;
}
#projects .info {
  padding-right: 2rem;
}
#projects .info h2 {
  font-size: 3rem;
  font-weight: bold;
}
#projects .info p {
  font-size: 1.2rem;
}
#projects .info,
#projects .img {
  flex-basis: calc(50% - 2rem);
}
#projects .img img {
  width: 100%;
}
/* Equipo */
#team .headTitle h2 {
  color: #009966;
}
#team .wrapperTeam {
  justify-content: center;
}
#team .wrapperTeam .item {
  flex-basis: calc((100% / 4 - 4rem));
  text-align: center;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
#team .wrapperTeam .item img {
  width: 75%;
  margin: 0 auto 1rem;
}
#team .wrapperTeam .item h3 {
  color: #ff0000;
  font-size: 1.5rem;
  font-weight: 900;
}
#team .wrapperTeam .item p:nth-child(3) {
  text-transform: uppercase;
}
#team .wrapperTeam .item p{
  margin: 0 auto;
  width: 15rem;
}
.socialMedia {
  display: flex;
  justify-content: center;
  margin-top: .7rem;
}

.socialMedia a {
  margin: 0 1rem;
}
#team .socialMedia img{
  width: auto !important;
  height: 15px !important;
  
}
/* section thanks  */
#thanks{
  text-align: center;
}
#thanks h2{
  color: #ff6501;
}
#thanks p{
  font-size: 1.2rem;
  font-weight: bold;
}
/* footer */
#footer {
  /* background-color: #009966; */
}
#footer > div {
  display: flex;
  flex-wrap: wrap;
  padding: 9rem 0 2rem;
  align-items: center;
  justify-content: center;
}
#footer .copyright {
  flex-basis: 100%;
  text-align: center;
  padding-top: 1rem;
}
#footer .info {
  flex-basis: 70%;
}

#footer .info > span {
  margin-bottom: 1rem;
}
#footer .logosFooter {
  flex-basis: 20%;
  text-align: center;
  max-width: 200px;

}
#footer .logoSponsor a:nth-child(2) img {
  margin: 1rem 1rem;
}
#footer .logoSponsor img {
  width: auto;
  height: 5rem;
}
#footer .logosFooter a img {
  margin-bottom: 2rem;
  width: 100%;
}
#footer .row div {
  margin-bottom: 1.5rem;
}
#footer .row .socialMediaFooter{
  margin-bottom: 0;
}
#footer .row div span,
#footer .row div a {
  margin-right: 1rem;
  margin-bottom: .5rem;
}
#footer .info h3{
  font-size: 1.5rem;
}
#footer .fila1,
#footer .fila2{
  /* flex-wrap: nowrap; */
  /* justify-content: space-between; */
  align-items: center;
}
/* animaciones hover y mas  */
/* animaciones personalizadas */
/* animacion markus */
/* #knowMe .item:hover .imgAnimate
{
  background-image: url(/images/backHover.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation-name: cambiarColor;
  animation-name: cambiarColor;
  animation-timing-function: ease-in-out;
  background-size: contain;
  -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count:1;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
    -webkit-animation-direction: alternate-reverse;
} */
#knowMe .item:hover .imgAnimate.special{
  background-size: 75%;
  background-position-x: center;
}
/* @keyframes cambiarColor {   

  100% {
    background-position: center 360%;
}
} */
 
    
.linkSuscribete:hover,
#knowMe .item .conoce:hover,
#chapters .btnRadius:hover,
.bannerHero .start:hover{
  transition: .5s;
  background-color: white;
}
/* hover del link suscribete del header */
#mainMenu a:hover:after {
  transform: scaleX(1);
}
#mainMenu a:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  background-color: white;
  transition: transform 0.3s;
}
.linkSuscribete:hover a{
  color: #330066;
  font-weight: bold;
}
.linkSuscribete:hover{
  border: 1px solid #330066;
}
/* hover del link start */

.bannerHero .start:hover{
  color: #ff0000;
  border: 2px solid #ff0000;
}
/* hover del link de conocenos  */
#knowMe .item:first-child .conoce:hover{
  color: #009966;
  border: 2px solid #009966;
}
#knowMe .item:nth-child(2) .conoce:hover{
  color: #ff6501;
  border: 2px solid #ff6501;
}
#knowMe .item:last-child .conoce:hover{
  color: #330066;
  border: 2px solid #330066;
}
/* hover del link de capitulos*/
#chapters .btnRadius:hover{
  color: #330066;
  border: 2px solid #330066;
}
@media only screen and (min-width: 1000px) {
  .box-item{
    height: 30vh;
  }
}
@media only screen and (max-width: 1440px) {
  header,
  .slideshow-container{
    margin: 0 5vw;
  }
}
@media only screen and (max-width: 1281px) {
  #chapters .item {
  
    flex-basis: calc((100% / 3) - 5rem);
  }
    
}
@media only screen and (max-width: 1119px) {
  #footer .fila1, #footer .fila2{
    justify-content: flex-start;
  }
  .socialMediaFooter{
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 1066px) {
  #chapters .item {
  
    flex-basis: calc((100% / 3) - 4rem);}
}
@media only screen and (max-width: 992px) {
  /* hero */
  .background1,
  
  .background3{
    background-position-y: 100% , 200%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .background2{
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 100% 84%, 100% 20%;
  }
  .background1{
    background-image: url(/images/background1.png),url(/images/background2.png);
  }
  .background2{
    background-image: url(/images/background4.png),url(/images/background3.png)
  }
  .background3{
    background-image: url(/images/background6.png),url(/images/background5.png)
  }
  .hero,#chapters,#footer{
    background: none;
  }
  header {
    padding: 0 3rem;
  }
  .bannerHero .info {
    margin-right: 2rem;
  }
  /* size font banner hero */
  .bannerHero .info h1:first-child {
    font-size: 3rem;
  }
  .bannerHero .info h1:nth-child(2) {
    font-size: 5rem;
  }
  .bannerHero .info h1:nth-child(3) {
    font-size: 2rem;
  }
  /* conocenos */
  #knowMe .item,
  #chapters .item,
  #chapters .item:nth-child(4),
  #chapters .item:nth-child(5) {
    flex-basis: calc((100% / 2) - 5vw);
    text-align: center;
    
  }
  #chapters .item:nth-child(4),
  #chapters .item:nth-child(5) {
    max-width: 100%;
    margin: 0 0 1rem;
  }
  #knowMe .item:nth-child(2) {
    padding: 0;
  }
  /* team */
  #team .wrapperTeam .item {
    flex-basis: calc((100% / 3 - 4rem));
  }
  .socialMediaFooter{
    flex-basis: 100%;
  }

}
@media only screen and (max-width: 800px) {
  /* size font banner hero */
  .bannerHero .info h1:first-child {
    font-size: 3rem;
  }
  .bannerHero .info h1:nth-child(2) {
    font-size: 4rem;
  }
  .bannerHero .info h1:nth-child(3) {
    font-size: 1.5rem;
  }
  /* team */
  #team .wrapperTeam .item {
    flex-basis: calc((100% / 2 - 4rem));
  }
  
  /* footer */
  #footer .info {
    flex-basis: 100%;
    text-align: center;
  }
  #footer .logoSponsor img {
    margin-bottom: 2rem !important;
  }
  #footer .fila1, #footer .fila2{
    justify-content: space-around;
  }
}
@media only screen and (max-width: 640px) {
  .bannerHero {
    flex-direction: column;
    margin: 3rem 5vw;
  }
  .bannerHero .img {
    margin-top: 3rem;
  }
  /* centrar info */
  .bannerHero .info {
    margin-right: 0;
    text-align: center;
  }
  /* size font banner hero */
  .bannerHero .info h1:first-child {
    font-size: 4.5rem;
  }
  .bannerHero .info h1:nth-child(2) {
    font-size: 4.5rem;
  }
  .bannerHero .info h1:nth-child(3) {
    font-size: 2.2rem;
  }
  /* conocenos */

  #knowMe .item,
  #chapters .item ,
  #chapters .item:nth-child(4),
  #chapters .item:nth-child(5){
    flex-basis: 100%;
    text-align: center;
  }
  #knowMe .item img,
  /* #chapters .item img, */
  #team .wrapperTeam .item img {
    max-width: 50%;
  }
  #chapters .item img {
    width: 75%;
    height: auto;
}
  #team .socialMedia img{
    max-width: 100% !important;
  }
  #thanks h2{
    font-size: 2.5rem;
  }
  /* background2 */
  .background2{
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 100% 85%, 100% 20%;
  }
  /* EL PROYECTO */
  #projects {
    flex-direction: column;
  }
  #projects .info {
    padding-right: 0;
  }
  #projects .info h2 {
    text-align: center;
  }
  #projects .img{
    flex-basis: 100%;
    width: 100%;
  }
  /* team */
  #team .wrapperTeam .item {
    flex-basis: 100%;
  }
  #team .socialMedia img{
    width: auto !important;
    height: 28px !important;
    
  }
  #footer .fila1,
  #footer .fila2{
    flex-direction: column;
  }
.socialMediaFooter{
  flex-basis: 100%;
  display: flex;
    justify-content: space-around;
    width: 50%;
}
#footer > div {
  padding: 2rem 0;
}
#footer .row div span, #footer .row div a{
  margin-bottom: 1rem;
  margin-right: 0;
  font-size: 1.2rem;

}
#footer .info h3:first-child{
  margin-top: 6rem;
    margin-bottom: 2rem;
}
#footer .logoSponsor img{
  width: 50%;
}
}
@media only screen and (max-width: 500px) {
  /* para las imagenes del header */
  #logo{
    margin-right: 1rem;
  }
  .bannerHero .info {
    flex-basis: 100%;
  }
  .bannerHero .info h1:first-child {
    font-size: 3.5rem;
  }
  .bannerHero .info h1:nth-child(2) {
    font-size: 3.5rem;
  }
  .bannerHero .info h1:nth-child(3) {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 360px) {
  .bannerHero {
    padding: 0;
  }
}
